<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#8a2be2" />
		<meta
			name="description"
			content="Countdown to Rendezvous dinner, Experience like never before, night like no other, get your dancing shoes and be ready to catch up with friends over a nice dinner party."
		/>
		<meta property="og:image" content="/img/IMG-20210904-WA0033.jpg" />
		<link rel="stylesheet" href="/style.css" />
		<title>Countdown to Rendezvous!</title>
	</head>
	<body>
		<marquee
			behavior="scroll"
			direction="right"
			class="scroll_text"
			scrollamout="12"
			>RENDEZVOUS!----------------------------------
			RENDEZVOUS!!----------------------------------
			RENDEZVOUS!!!----------------------------------
			RENDEZVOUS!----------------------------------
			RENDEZVOUS!!----------------------------------
			RENDEZVOUS!!!----------------------------------RENDEZVOUS!----------------------------------
			RENDEZVOUS!!---------------------------------- RENDEZVOUS!!!</marquee
		>
		<section class="section-center">
			<!-- info -->
			<article class="gift-info">
				<h3>rendenzvous</h3>
				<h4 class="giveaway">8:00am</h4>
				<p>
					No matter how busy are, you must find time to catch up with friends
					over a nice dinner party.
				</p>
				<p>
					Get your Rendezvous ticket right away, Don't miss out on the fun, its
					gonna be <b>LIT</b>.
				</p>
				<p>
					It feelslike forever since we last gathered together!, Now's the time
					to enjoy ourselves over a nice dinner party!
				</p>
				<div class="deadline">
					<!-- days -->
					<div class="deadline-format">
						<div>
							<h4 class="days">34</h4>
							<span>days</span>
						</div>
					</div>
					<!-- end of days -->
					<!-- days -->
					<div class="deadline-format">
						<div>
							<h4 class="hours">34</h4>
							<span>hours</span>
						</div>
					</div>
					<!-- end of days -->
					<!-- minutes -->
					<div class="deadline-format">
						<div>
							<h4 class="minutes">34</h4>
							<span>mins</span>
						</div>
					</div>
					<!-- end of days -->
					<!-- minutes -->
					<div class="deadline-format">
						<div>
							<h4 class="seconds">34</h4>
							<span>secs</span>
						</div>
					</div>
					<!-- end of days -->
				</div>
			</article>

			<!-- image -->
			<article class="gift-img">
				<img
					src="/img/IMG-20210904-WA0033.jpg"
					alt="gift"
					height="400px"
					width="350px"
				/>
			</article>
		</section>

		<marquee
			behavior="scroll"
			direction="left"
			class="scroll_text"
			scrollamout="12"
			>RENDEZVOUS!----------------------------------
			RENDEZVOUS!!----------------------------------
			RENDEZVOUS!!!----------------------------------
			RENDEZVOUS!----------------------------------
			RENDEZVOUS!!----------------------------------
			RENDEZVOUS!!!--------------------------------RENDEZVOUS!----------------------------------
			RENDEZVOUS!!----------------------------------
			RENDEZVOUS!!!--------------------------------RENDEZVOUS!----------------------------------
			RENDEZVOUS!!---------------------------------- RENDEZVOUS!!!</marquee
		>
		<!-- javascript -->
		<script src="/script.js"></script>
	</body>
</html>
